{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '4.2/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href='{% static "css/actualizar_datos.css" %}'>
   
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
      nav{
        background-color: aliceblue;
  
      }
      a{
        color:Black
  
      }
     </style>
      <title>Registro</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg relative-top">
        <div class="container">
        <a class="navbar-brand" href="#">RoyalPalm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/crudtipos" id="Inicio">Tipos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reportes/" id="Reportes">Reportes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/" id="aC">Cerrar Sesion</a>
            </li>
          
          </ul>
        </div>
       </div>
      </nav>

    <h1>Actualizar Datos</h1>
    <form method="post">
      {% csrf_token %}
      <label for="cedula">ID</label>
      <input type="text" id="id" name="id" value="{{tipo.0}}" readonly required  min="0"/>

      <label for="nombre">Tiene Cocina</label>
      <input type="text" id="tiene_cocina" value="{{tipo.1}}" name="tiene_cocina" required />

      <label for="cedula">Ocupacion</label>
      <input type="text" id="ocupacion" name="ocupacion" value="{{tipo.2}}"  min="0"/>

      <label for="nombre">Camas dobles</label>
      <input type="number" id="camas_dobles" value="{{tipo.3}}" name="camas_dobles" required />

      <label for="cedula">Camas Individuales</label>
      <input type="number" id="camas_individuales" name="camas_individuales" value="{{tipo.4}}"  min="0"/>

      <label for="nombre">Baños</label>
      <input type="number" id="baños" value="{{tipo.5}}" name="baños" required />


      <input type="submit" value="Actualizar" />
    </form>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</html>
