{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '4.2/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href='{% static "css/actualizar_datos.css" %}'>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   <style>
    nav{
      background-color: aliceblue;

    }
    a{
      color:Black

    }
   </style>
    <title>Registro</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg relative-top">
      <div class="container">
      <a class="navbar-brand" href="$">RoyalPalm</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
         
          <li class="nav-item">
            <a class="nav-link" href="/menu/" id="Reportes">menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/" id="aC">Cerrar Sesion</a>
          </li>
        
        </ul>
      </div>
     </div>
    </nav>

    <h1>Actualizar Datos</h1>
    <form method="post">

      <label for="cedula">Cedula</label>
      <input type="number" id="cedula" name="cedula" value="29831425" readonly required  min="0"/>

      <label for="nombre">Nombre </label>
      <input type="text" id="nombre" value="wilfred" name="nombre" required />

      <label for="apellido">Apellido </label>
      <input type="text" id="apellido" value="silva" name="apellido" required />
      
      <label for="">Fecha de nacimiento</label>
      <input type="text" value="25/01/2002" readonly>

      <label for="email">Correo electrónico</label>
      <input type="email" id="email" name="email" required value="wuilfredjavier@gamil.com">

      <label for="telefono">Telefono </label>
      <input type="number" id="telefono" name="telefono" value="04125505020" required  min="0"/>
      
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" value="2124" required />

      <input type="submit" value="Actualizar" />
    </form>
  </body>
</html>
